{% if p.lastPage > 1 %}
    <div class="list-options">
        <div class="btn-group m-r-sm">
            {% if p.page>1 %}
                <a href="?{{ params|merge({"page": p.previousPage })|url_encode }}" class="btn btn-white"><i class="fa fa-chevron-left"></i></a>
            {% endif %}
            {% set startPage = p.links[0] %}
            {% set endPage = p.links[p.links|length - 1] %}
            {% if startPage > 1 %}
                <a href="?{{ params|merge({"page": 1 })|url_encode }}" class="btn btn-white">1</a>
                {% if startPage == 3 %}
                    <a href="?{{ params|merge({"page": 2 })|url_encode }}" class="btn btn-white">2</a>
                {% elseif startPage != 2 %}
                    <span class="btn btn-white">&hellip;</span>
                {% endif %}
            {% endif %}
            {% for i in p.links %}
                <a href="?{{ params|merge({"page": i })|url_encode }}" class="btn btn-white{% if p.page==i %}active{% endif %}">{{ i }}</a>
            {% endfor %}
            {% if p.lastPage > endPage %}
                {% if p.lastPage > (endPage + 1) %}
                    {% if p.lastPage > (endPage + 2) %}
                        <span class="btn btn-white">&hellip;</span>
                    {% else %}
                        <a href="?{{ params|merge({"page": p.lastPage-1 })|url_encode }}" class="btn btn-white">{{ p.lastPage -1 }}</a>
                    {% endif %}
                {% endif %}
                <a href="?{{ params|merge({"page": p.lastPage })|url_encode }}" class="btn btn-white">{{ p.lastPage }}</a>
            {% endif %}

            {% if p.lastPage!=p.nextPage %}
                <a href="?{{ params|merge({"page": p.nextPage })|url_encode }}" class="btn btn-white"><i class="fa fa-chevron-right"></i></a>
            {% endif %}
        </div>

        <div class="pull-right m-t-xxs"><h3>{{ count }} results</h3></div>
    </div>
{% endif %}